.articleList{
  height: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  .leftChildMenu{
    height: 100%;
    .title{
      height: 51px;
      border-right: 1px solid #e9e9e9;
      border-bottom: 1px solid #e9e9e9;
      width: 240px;
      line-height: 50px;
      padding: 0px 20px;
      font-size: 20px;
      font-weight: bold;
      position: relative;
      img{
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }
    .list{
      position: absolute;
      bottom: 0px;
      top: 51px;
      width: 240px;
      overflow: hidden;
      .listbox{
        overflow-y: scroll;
        width: 253px;
        height:100%;
        overflow-x: hidden;
      }
    }

    .ant-menu-item{
      height: auto !important;
    }
    .ant-menu-item p:first-child{
      font-weight: bold;
    }
    .ant-menu-item p:last-child{
      border-bottom: 1px solid #e1e1e1;
    }
  }
  .rightChildMenu{
    position: absolute;
    top: 0px;
    left: 240px;
    right: 0px;
    bottom: 0px;
    .title{
      font-size: 30px;
      font-weight: bold;
    }
    .date{
      padding: 10px;
    }
    .articleContent{
      font-size: 16px;
    }
  }
}

.articleDetail{
    .title{
      font-size: 30px;
      font-weight: bold;
      text-align: center;
    }
    .date{
      padding: 10px;
      font-size: 20px;
      button{
        float: right;
      }
      .ant-btn-danger{
        color: #fff;
        background-color: #f04134;
        border: #f04134;
        margin-right: 20px;
      }
      .ant-btn-danger:hover, .ant-btn-danger:focus {
        color: #fff;
        background-color: #f0857d;
        border-color: #f0857d;
      }
    }
    .articleContent{
      font-size: 16px;
    }
}